#covid-form-container {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.covid-form-inner {
  padding: 20px;
}

.submit-button-container {
  margin-top: 35px;
}
.g-recaptcha {
  align-self: center;
}

html {
  scroll-behavior: smooth;
}